<div class="assessment-details" *ngIf="assessmentDetails">
  <button mat-icon-button class="back-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="assessment-name">{{ assessmentDetails.assessmentName }}</h1>
  <button mat-icon-button class="edit-button" *ngIf="!isEditMode" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <div class="assessment-info">
    <p><strong>Customer Name:</strong> {{ assessmentDetails.customerName }}</p>
    <p><strong>Project ID:</strong> {{ assessmentDetails.projectId }}</p>
    <p><strong>Assessor Name:</strong> {{ assessmentDetails.assessorName }}</p>
    <p><strong>Assessment Date:</strong> {{ assessmentDetails.assessmentDate }}</p>
    <p><strong>AMA Score:</strong> {{ assessmentDetails.amaScore }}</p>
    <p class="scoring-level">
      <strong>Customer Scoring Level:</strong>
      <span matTooltip="{{ getTooltipText(getCustomerScoringLevel(assessmentDetails.amaScore)) }}" class="scoring-level">{{ getCustomerScoringLevel(assessmentDetails.amaScore) }}</span>
    </p>
  </div>
  <div *ngFor="let category of groupedScores; let i = index" class="category-section">
    <h3 class="category-name">{{ category.categoryName }}</h3>
    <div class="parameter-list">
      <div *ngFor="let score of category.scores" class="parameter-item">
        <p style="font-weight: 440;">
          {{ score.parameterName }}:
          <span *ngIf="!isEditMode" class="parameter-score">{{ score.score }}</span>
          <input *ngIf="isEditMode" type="number" [(ngModel)]="score.score" (input)="validateScore(score)" step="0.1" min="0" max="10" />
        </p>
      </div>
    </div>
    <hr class="divider" *ngIf="i < groupedScores.length - 1">
  </div>
  <div class="save-button-container" *ngIf="isEditMode">
    <button class="save-button" (click)="onSave()">Save Changes</button>
  </div>
</div>
<div *ngIf="!assessmentDetails" class="loading">
  <p>Loading assessment details...</p>
</div>
