body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.assessment-details {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #3f51b5;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.edit-button mat-icon {
    font-size: 20px;
}


.save-button-container {
    text-align: center;
    margin-top: 20px;
}

.save-button {
    background-color: #3f51b5; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
}

.save-button:hover {
    background-color: #2c3ea9; 
}

.assessment-name {
    font-size: 24px;
    color: #3f51b5;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.assessment-info p {
    font-size: 16px;
    margin: 5px 0;
    font-family: 'Arial', sans-serif;
}

.assessment-info strong {
    color: #333;
}

.scoring-level {
    font-style: italic;
    font-size: 20px;
    color: #d32f2f;
}

.category-section {
    margin-top: 20px;
}

.category-name {
    font-size: 18px;
    color: #3f51b5;
    margin-bottom: 10px;
}

.parameter-list {
    padding-left: 20px;
}

.parameter-item {
    font-size: 16px;
    margin: 5px 0;
}

.parameter-score {
    color: #007bff;
}


.parameter-item input[type="number"] {
    font-size: 14px;
    padding: 2px 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60px;
    box-sizing: border-box;
    text-align: left;
}

hr.divider {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #999;
}
